@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Nunito:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat+Alternates:wght@500&family=Nunito:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Space+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Satisfy&family=Space+Grotesk&display=swap');


/*------------*/
* {
	box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;

}
/*------------*/
/*HEADER*/
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header > h2,h3,a {
	color: rgb(255, 255, 255);
}
a {
	text-decoration: none;
}
.img-logo{
  width: 70px;
  height: 70px;
  display: grid;
  place-items: center;
  padding: 0;
  margin: 0 auto;
}
.logo {
  display: inline;
	font-size: 1.55em;
  font-family: 'Satisfy', cursive;
}
.main-nav {
	margin-top: 5px;
}
.logo a{
  padding: 10px 15px;
	text-align: center;
	display: block;
}
.main-nav a{
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}
.main-nav a {
	color: white;
	font-size: .99em;
}
.main-nav a:hover {
	color: #718daa;
}
.header {
  padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid  black;
	background-color: #0E1A47;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 15px;
  background-size: 50% 50%;
} 
/*HEADER*/


/* ================================= 
           Media Queries
==================================== */

@media (min-width: 769px) {
	.header, .main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
}
@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}
}
@media (max-width:500px) {
  .footer-menu ul{
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
/* ================================= 
           Media Queries
==================================== */

/*FOOTER*/
footer{
  position: sticky;
  top: 100%;
  margin-top: 5rem;
  left: auto;
  right: auto;
  background: #0E1A47;
  width: auto;
  padding-top: 10px;
  color: #fff;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: auto;
  float: left;
}
/*
.socials li{
}*/

.socials a{
  text-decoration: none;
  color: #fff;
  border: 1.1px solid white;
  padding: 7px;
  border-radius: 50%;
}
.socials a i{
  font-size: 1.1rem;
  width: 20px;
  transition: color .4s ease;
}
.socials a:hover i{
  color: aqua;
}
.socials > span{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.footer-bottom{
  background: #060d26;
  padding-bottom: 40px;
  text-align: center;
}
.footer-menu{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-menu ul{
  display: flex;
  margin-top: 25px;
}

.footer-menu ul li{
padding-right: 10px;
}

.footer-menu ul li a{
  color: #cfd2d6;
  text-decoration: none;
}

.footer-menu ul li a:hover{
  color: #27bcda;
}
/*FOOTER*/

/*NOW SELLING IMAGE*/
.now_selling {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:  row;
  text-align: center;
}
.now_selling_box{
  margin-top: 2.5rem;
  box-shadow: 0 0 20px 2px rgba(228, 7, 7, 0.1);
  transition: 1s;
}
.now_selling_box img{
  width: 750px;
  height: 300px;
  border-radius: 10px;
}
.now_selling_box:hover{
  transform: scale(1.1);
  z-index: 10; 
}
/*NOW SELLING IMAGE*/

/*LINE SEPERATOR HOMEPAGE*/
.h1 {
  width: 80%;
  height: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 150px;
  background-color: #344164;
}
.h2 {
  width: 80%;
  height: 10px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  top: 1rem;
  background-color: #344164;
  margin-bottom: 10rem;
}
/*LINE SEPERATOR HOMEPAGE*/

/*3 IMAGES IN HOMEPAGE*/
.container0{
  width: 90px;
  padding: 20px;
  margin:auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
  justify-content: center;
}
.box {
  width: 1500px;
  height: 150px;
  margin: 0 50px;
  box-shadow: 0 0 20px 2px rgba(228, 7, 7, 0.1);
  transition:  1s;
  margin-bottom: 15px;
}
.box img{
  display: block;
  width: 300px;
  height: 300px;
  border-radius: 10px;
}
.box:hover{
  transform:scale(1.1);
  z-index: 5000;
}
/*3 IMAGES IN HOMEPAGE*/

/*FIRST COLUMN OF PICTURES ON HOMEPAGE*/
.column1{
  display: flex;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
  margin-top: -5rem;
 }
 .col1 img{  
  border: 5px solid #344164;
  margin: 5px;
 }
 /*
 .col-img{
 }
 .pic1{
 }
 */

 /*FIRST COLUMN OF PICTURES ON HOMEPAGE*/

 /*SECOND COLUMN OF PICTURES ON HOMEPAGE*/
 .column2{
  display: flex;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
  margin-top: 1.5rem;
 }
 .col2 img{  
  border: 5px solid #344164;
  margin: 5px;
 }
 /*
 .col-img{
 }

 .pic2{
  
 }
.pic1
*/

 /*SECOND COLUMN OF PICTURES ON HOMEPAGE*/
 
 /*HOMEPAGE TEXT1*/
 .text_HOME{
  text-align: center;
  padding: 30px;
  justify-content: center;
  justify-items: center;
}
.text_HOME .text_1{
  border-style: solid;
  width: fit-content;
  padding: 10px;
  border-color: #344164;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}
.text_1{
  font-family: 'Nunito', sans-serif;
  font-size: large;
/*HOMEPAGE TEXT1*/
}
/*PRODUCT CONTAINER*/
 .container{
  display: flex;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
 }
 .card{
  background: #ffffff;
  width: 300px;
  height: 390px;
  margin: 10px;
  border-radius: 15px;
 }
 .card-img{
  background-color: #344164;
  height: 300px;
  margin-bottom: 15px;
  background-size: cover;
  border-radius: 15px 15px 0 0;
 
 }
 .pics1{
  background-image: url('Item-Pg/Item Pics/Pic1.jpg');
}
.pics2{
  background-image: url('Item-Pg/Item Pics/Pic2.jpg');
}
.pics3{
  background-image: url('Item-Pg/Item Pics/Pic3.jpg');
}
.pics4{
  background-image: url('Item-Pg/Item Pics/Pic4.jpg');
}
.pics5{
  background-image: url('Item-Pg/Item Pics/Pic5.jpg');
}
.pics6{
  background-image: url('Item-Pg/Item Pics/Pic6.jpg');
}
.pics7{
  background-image: url('Item-Pg/Item Pics/Pic7.jpg');
}
.pics8{
  background-image: url('Item-Pg/Item Pics/Pic8.jpg');
}
.pics9{
  background-image: url('Item-Pg/Item Pics/Pic9.jpg');
}
.pics10{
  background-image: url('Item-Pg/Item Pics/Pic10.jpg');
}
.pics11{
  background-image: url('Item-Pg/Item Pics/Pic11.jpg');
}
.pics12{
  background-image: url('Item-Pg/Item Pics/Pic1.jpg');
}
.card h2{
  text-align: center;
  margin-top: -15px;
  font-size: 15px;
}
.card a{
  color: #0E1A47;
}
/*PRODUCT CONTAINER*/

/*PRODUCT BUTTON*/
.btn {
  width: 150px;
  margin-left: 5rem;
  margin-right: 5rem;
  border: 1px solid rgb(3, 41, 137);
  font-family: 'Cinzel', serif;
  font-size: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  transition: 1s;
}

.btn::before, .btn::after {
  position: absolute;
  background: rgb(255, 255, 255);
  z-index: -1;
  transition: 1s;
  content: '';
}

.btn::before {
  height: 50px;
  width: 130px;
}

.btn::after {
  width: 150px;
  height: 30px;
}
.btn:hover::before {
  width: 0px;
  background: rgb(255, 255, 255);
}

.btn:hover::after {
  height: 0px;
  background: #fff;
}

.btn:hover {
  background: #fff;
}
/*PRODUCT BUTTON*/

/*CONTAINER 3*/
.hakdog > .card1{
  position: relative;
  margin: 0 auto;
  margin-top: 5rem;
}
.card1{
  position: absolute;
  display: grid;
  width: fit-content;
  grid-template-columns: 300px;
  grid-template-rows: 250px 130px 80px;
  grid-template-areas: "image" "text" "stats";
  height: 30;
  border-radius: 18px;
  background: rgb(52, 65, 100);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  font-family: roboto;
}
.card1-image, .card2-image , .card3-image , .card4-image , .card5-image , .card6-image , .card7-image , .card8-image , .card9-image , .card10-image , .card11-image , .card12-image{
  grid-area: image;
}
.card1-text {
  grid-area: text;
}
.card1-stats {
  grid-area: stats; 
}
.card1-image {
  grid-area: image;
  background: url("Item-Pg/Item Pics/Pic1.jpg");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}
.card2-image {
  grid-area: image;
  background: url("Item-Pg/Item Pics/Pic2.jpg");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}
.card3-image {
  grid-area: image;
  background: url("Item-Pg/Item Pics/Pic3.jpg");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}
.card4-image {
  grid-area: image;
  background: url("Item-Pg/Item Pics/Pic4.jpg");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}
.card5-image {
  grid-area: image;
  background: url("Item-Pg/Item Pics/Pic5.jpg");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}
.card6-image {
  grid-area: image;
  background: url("Item-Pg/Item Pics/Pic6.jpg");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}
.card7-image {
  grid-area: image;
  background: url("Item-Pg/Item Pics/Pic7.jpg");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}
.card8-image {
  grid-area: image;
  background: url("Item-Pg/Item Pics/Pic8.jpg");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}
.card9-image {
  grid-area: image;
  background: url("Item-Pg/Item Pics/Pic9.jpg");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}
.card10-image {
  grid-area: image;
  background: url("Item-Pg/Item Pics/Pic10.jpg");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}
.card11-image {
  grid-area: image;
  background: url("Item-Pg/Item Pics/Pic11.jpg");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}
.card12-image {
  grid-area: image;
  background: url("Item-Pg/Item Pics/Pic12.jpg");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}

.card1-text {
  grid-area: text;
  margin: 25px;
  text-align: center;
  
}
.card1-text .date {
  color: rgb(0, 0, 0);
  font-size:13px;

}
/*
.card1-text p {
}
*/
.card1-text h2 {
  margin-top:0px;
  font-size:28px;
}
.card1-stats {
  grid-area: stats; 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: rgb(9, 9, 9);
}
.card1-stats .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  color: white;
  padding:10px;
}
.card1-stats .type{
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}
.card1-stats .value{
  font-size: 22px;
  font-weight: 300;
}
.card1-stats .border{
  border-left: 1px solid rgb(52, 65, 100);
  border-right: 1px solid rgb(52, 65, 100);
}
.card1:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
.card1{
  transition: 0.5s ease;
  cursor: pointer;
  margin:30px;
}
.button_0{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: 2.5rem;
}
.button0{
  width: 100;
  color:#ecf0f1;
  text-decoration:none;
  border-radius:5px;
  border:solid 1px #ffffff;
  background:#38b000;
  padding:16px 50px 14px;
  margin: 12px;
  -webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;
  -webkit-box-shadow: 0px 6px 0px #008000;
  -moz-box-shadow: 0px 6px 0px #008000;
  box-shadow: 1px 3.5px 4px #008000;
} 
.button0:active{
    -webkit-box-shadow: 0px 2px 0px #008000;
    -moz-box-shadow: 0px 2px 0px #008000;
    box-shadow: 5px 2px 0px #008000;
    position:relative;
    top:4px;
}
/*------------*/
/*------------*/
.container5{  
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 5rem;
}


.background-img5{

  width: 500px;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 5% auto;
  padding:20px;
 
  border-radius: 4px;
  position: relative;
}

.content5 h2{ 
  font-size:19px;
}
.content5 hr{
  width: 70%;
  text-align: center;
  margin: 0% auto;
}

.box5{
 position: absolute;
 
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
   width: 1300px;
  height: 700px;
  background: #111845a6;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 20px 50px rgb(23, 32, 90);
  border: 2px solid #2a3cad;
  color: white;
  padding: 20px;
}

.box5:before{
  content: '';
  position:absolute;
  top:0;
  left:100%;
  width:100%;
  height:100%;
  background: rgba(255,255,255,0.1);
  transition:0.5s;
  pointer-events: none;
}

.box5:hover:before{
  left:-50%;
  transform: skewX(10deg);
}
.box5 .content5{
  position:absolute;
  top:15px;
  left:15px;
  right:15px;
  bottom:15px;
  border:1px solid #f0a591;
  padding:20px;
  text-align:center;
  box-shadow: 0 5px 10px rgba(9,0,0,0.5);
}

.box5 span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
}

.box5 span:nth-child(1)
{
  transform:rotate(0deg);
}

.box5 span:nth-child(2)
{
  transform:rotate(90deg);
  margin-left: 19rem;
}

.box5 span:nth-child(3)
{
  transform:rotate(180deg);
}

.box5 span:nth-child(4)
{
  transform:rotate(270deg);
  margin-left: -19rem;
}

.box5 span:before
{
  content: '';
  position: absolute;
  width:100%;
  height: 5px;
  background: #50dfdb;
  animation: animate 4s linear infinite;
}


@keyframes animate {
  0% {
  transform:scaleX(0);
  transform-origin: left;
  }
  50%
  {
    transform:scaleX(1);
  transform-origin: left;
  }
  50.1%
  {
    transform:scaleX(1);
  transform-origin: right;
    
  }
  
  100%
  {
    transform:scaleX(0);
  transform-origin: right;
    
  }
} 
/*------------*/
/*------------*/

.cards{
  max-width: 1100px;
  margin: 0 auto;
  width: 500px;
  height: 500px;
  text-align: center;
  padding: 30px;
}

.services{
  display: flex;
  align-items: center;
}
.content{
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin: 20px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 4px;
  transition: all .3s ease;
}
.content .fa-solid{
  font-size: 70px;
  margin: 16px 0;
}
.content > *{
  flex: 1 1 100%;
}
.content:hover{
  color: white;
}
.content:hover a{
  border-color: white;
  background: white;
}
.content-1:hover{
  border-color: #00ff44;
  background: #00ff44;
}
.content-1:hover a{
  color: #00ff44;
}
.content h2{
  font-size: 30px;
  margin: 16px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.content p{
  font-size: 17px;
  font-family: 'Poppins',sans-serif;
}
.content a{
  margin: 22px 0;
  background: black;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid black;
  padding: 15px 0;
  border-radius: 25px;
  transition: .3s ease;
}
.content a:hover{
  border-radius: 4px;
}
@media (max-width: 900px) {
  .services{
    display: flex;
    flex-direction: column;
  }
}
/*------------*/
table, th, td {
 
  text-align: center;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-right: 10rem;
  margin-left: 10rem;
  overflow: hidden;
  color: #344164;
  border-collapse: collapse;
  margin-top: 1rem;
}
table span{
  border:1px solid black;
}


/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* Style the container */
.container {
  border-radius: 5px;
  padding: 20px;
  margin-top: 3rem;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}